numpy==1.21.5
numpydoc==1.2
streamlit==1.11.1
streamlit-aggrid==0.3.2
pandas==1.4.3
pandas-alive== 0.2.4
pandoc==2.2

wordcloud==1.8.1
matplotlib==3.5.1
seaborn==0.11.2
GitPython==3.1.27
nltk==3.7

python-dateutil==2.8.2
python-decouple==3.6
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify==5.0.2
python-snappy==0.6.0

scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.7.3
Scrapy==2.6.1
seaborn==0.11.2

playwright==1.24.0
plotly==5.9.0
plotly-express==0.4.1