numpy==1.21.5
streamlit==1.11.1
pandas==1.4.3
wordcloud==1.8.1
matplotlib==3.5.1
seaborn==0.11.2
nltk==3.7
streamlit-aggrid==2.21
python-dateutil==2.8.2
python-decouple==3.6
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify==5.0.2
python-snappy==0.6.0